<h1>Welcome to the Rock, Paper, Scissors Simulator!<h1>
<h2>This site lets you play the traditional game of rock, paper, scissors, but without the tiresome need to use your hands...</h2>
<h5><em>(NB - you will still need to use your hands to type. Sorry.)</em></h5>
<div class="play">
<h3>How to play</h3>
<p>
  <ul>
    <li>Step 1: Find a second player!</li>
    <li>Step 2: Huddle around your laptop!</li>
    <li>Step 3: Type the word 'play', followed by your choices into the browser address bar, separated by a forward slash, for example: play/rock/scissors</li>
    <li>Step 4: Hit enter, and see who wins!</li>
  </ul>
</p>
</div>
<div class = "footer">
<p><strong>Please gamble responsibly.</strong></p>
</div>