<!DOCTYPE html>
<html>
<head>
  <title>Rock, Paper, Scissors! Yeah!</title>
  <link rel='stylesheet' href="/style.css" />
</head>
<body>
  <nav>
  <img src="https://cdn0.iconfinder.com/data/icons/rock-paper-scissors-emoji/792/rock-paper-scissors-emoji-cartoon-016-512.png" />
    <ul>
      <li><a href= "/">Home</a></li>
    </ul>
  </nav>
  <img src="http://advisoranalyst.advisoranalystgr.netdna-cdn.com/wp-content/uploads/2014/05/thumb_6917_rockpaperscissors.jpg" />
 
  <%=yield%>

</body>
</html>